* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

body {
  font-family: "Gilroy-Bold", sans-serif;
  width: 70%;
  margin: 0 auto;
  overflow-x: hidden;
  padding-top: 14px;
  background-color: #f4f4f4; 
}

/*верхняя часть страницы с логотипом и мкню */
.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  margin-bottom: 21px;
}

/* Логотипы в верхней части страницы */
.top__header-img {
  display: flex;
  align-items: center;
  gap: 14px; 
  
}

/* Логотипы в верхней части страницы */
.top__header-logo {
  margin-right: 14px;
  cursor:pointer;
}

/* Навигация */
.top__nav {
  display: flex;
  gap: 20px;
  font-size: 14px;
}

/* Ссылки навигации */
.top__nav-link {
  font-size: 14px;
  text-decoration: none;
  color: #000;
  font-weight: 600;
}
/* Изменение цвета ссылки при нажатии */
.top__nav-link:active {
  color: #f25822; 
}


.top__nav-link span {
  margin-left: 4px;
}

/* Блок контента с текстом и кнопками */
.top__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 80px;
  margin-bottom: 51px;
  padding-bottom: 61px;
  gap: 20px; /* Уменьшите значение gap для прижатия изображения */
}


/* Информационная часть контента */
.top__info {
  max-width: 50%;
}

/* Заголовок */
.subtitle {
  font-size: 60px;
  color: #000;
  font-weight: 550;
  margin-bottom: 17px;
}

/* Описание под заголовком */
.subtitle__p {
  font-size: 20px;
  color: #888;
  margin-bottom: 16px;
}

/* Кнопки */
.top__buttons {
  margin-top: 30px;
}

/* Кнопка 1 */
.button--primary {
  border-radius: 50px;
  width: 140px;
  height: 50px;
  background: #f25822;
  color: #fff;
  font-size: 15px;
  border: none;
  cursor: pointer;
  transition: background 0.3s ease;
}

.button--primary:hover {
  background: #d8471f; 
}

/* Кнопка 2 */
.button--secondary {
  width: 140px;
  height: 50px;
  font-size: 15px;
  margin-left: 20px;
  color: #888;
  border: none;
  background: transparent;
  cursor: pointer;
}

.button--secondary:hover {
  color: #f25822; 
}

/* Изображение на странице */
.top__image {
  max-width: 40%;
}

.top__image img {
  width: 100%;
  height: auto;
}

/* Логотипы внизу страницы */
.top__logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;

}

.footer__logo {
  width: 100px;
  height: auto;
  object-fit: contain; 
  margin: 0 10px; 
    width: 160px;
  height: 50px;
}


